
@font-face {
    font-family: 'DINProRegular';
    src: url('../fonts/DINProRegular.eot');
    src: url('../fonts/DINProRegular.eot') format('embedded-opentype'),
         url('../fonts/DINProRegular.woff2') format('woff2'),
         url('../fonts/DINProRegular.woff') format('woff'),
         url('../fonts/DINProRegular.ttf') format('truetype'),
         url('../fonts/DINProRegular.svg#DINProRegular') format('svg');
}

@font-face {
    font-family: 'DINProMedium';
    src: url('../fonts/DINProMedium.eot');
    src: url('../fonts/DINProMedium.eot') format('embedded-opentype'),
         url('../fonts/DINProMedium.woff2') format('woff2'),
         url('../fonts/DINProMedium.woff') format('woff'),
         url('../fonts/DINProMedium.ttf') format('truetype'),
         url('../fonts/DINProMedium.svg#DINProMedium') format('svg');
}

@font-face {
    font-family: 'DINProLight';
    src: url('../fonts/DINProLight.eot');
    src: url('../fonts/DINProLight.eot') format('embedded-opentype'),
         url('../fonts/DINProLight.woff2') format('woff2'),
         url('../fonts/DINProLight.woff') format('woff'),
         url('../fonts/DINProLight.ttf') format('truetype'),
         url('../fonts/DINProLight.svg#DINProLight') format('svg');
}

@font-face {
    font-family: 'DINProBold';
    src: url('../fonts/DINProBold.eot');
    src: url('../fonts/DINProBold.eot') format('embedded-opentype'),
         url('../fonts/DINProBold.woff2') format('woff2'),
         url('../fonts/DINProBold.woff') format('woff'),
         url('../fonts//DINProBold.ttf') format('truetype'),
         url('../fonts/DINProBold.svg#DINProBold') format('svg');
}

@font-face {
    font-family: 'Longhaul';
    src: url('../fonts/Longhaul.eot');
    src: url('../fonts/Longhaul.eot') format('embedded-opentype'),
         url('../fonts/Longhaul.woff2') format('woff2'),
         url('../fonts/Longhaul.woff') format('woff'),
         url('../fonts/Longhaul.ttf') format('truetype'),
         url('../fonts/Longhaul.svg#Longhaul') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?7jxy9r');
  src: url('../fonts/icomoon.eot?7jxy9r#iefix') format('embedded-opentype'),
     url('../fonts/icomoon.ttf?7jxy9r') format('truetype'),
     url('../fonts/icomoon.woff?7jxy9r') format('woff'),
     url('../fonts/icomoon.svg?7jxy9r#icomoon') format('svg');
}